* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --color-text: #6d6d6d;
    --color-bg: #191818;
	--color-link: #c8bae4;
    --color-link-hover: #F4EAE2;
    --color-menu: #018274;
    --color-menu-hover: #fff;
    --color-circle: #018274;
    --color-content: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: 'Oswald', sans-serif;
}

.circle {
	fill: none;
    stroke: var(--color-circle);
    stroke-width: 1px;
	will-change: transform, opacity;
    position: fixed;
    pointer-events: none;
    top: 50%;
    left: 50%;
    margin: -800px 0 0 -800px;
}

.menu {
	grid-area: 1 / 1 / 2 / 2;
	display: grid;
	place-items: center;
	position: relative;
    min-height: 100vh;
    padding: 5vw 0;
}

.menu__item {
	cursor: pointer;
	color: var(--color-menu);
	line-height: 0.9;
	text-transform: uppercase;
	font-size: 6vw;
	font-weight: 600;
	will-change: transform;
    text-decoration: none;
	transform: translate3d(0,0,0);
}

.menu__item:not(:last-child) {
    margin-bottom: 3vw;
}

.menu--open .menu__item {
	pointer-events: auto;
}

.menu__item:hover,
.menu__item--current {
	color: var(--color-menu-hover);
}

.menu__item .char {
	will-change: transform, opacity;
}

.menu__item:nth-child(even) {
	font-weight: 300;
	font-style: italic;
	font-family: 'Italiana', serif;
}