@font-face {
  font-display: swap;
  font-family: 'Carpenter';
  src: url('./assets/Carpenter-regular.woff2') format('woff2'),
       url('./assets/Carpenter-regular.woff') format('woff');
           font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: swap;
  font-family: 'Neue Montreal';
  src: url('./assets/NeueMontreal-regular.woff2') format('woff2'),
       url('./assets/NeueMontreal-regular.woff') format('woff');
           font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #a0a0a0;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}


.topbar {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12000;
}

.topbar a {
  color: inherit;
  display: block;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.375px;
  text-decoration: none;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.topbar a:hover {
  color: #018274;
}

.topbar__avatar {
  border-radius: 50%;
  height: 45px;
  overflow: hidden;
  position: relative;
  width: 45px;
}

.topbar__avatar img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .topbar {
      padding: 12px 28px;
  }

  .topbar a {
      font-size: 18px;
      letter-spacing: -0.45px;
  }

  .topbar__avatar {
      height: 54px;
      width: 54px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%; 
}

nav div {
  display: flex;
  gap: 10em;
  padding: 1em;
}

nav div a {
  color: #000;
  font-family: "Neue Montreal", sans-serif;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  width: 100%;
}

.header .h1 {
  color: #1a1a1a;
  font-family: "Carpenter", serif;
  font-size: 32vw;
  line-height: 1.125;
  position: relative;
}

.hero {
  border: 4px solid #1a1a1a;
  border-radius: 10px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: calc(100vw - 4em);
}

.hero img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.overlay {
  display: flex;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.bar {
  background-color: #1a1a1a;
  height: 105vh;
  width: 10vw;
}

.counter {
  align-items: flex-end;
  color: #bcbcc4;
  font-family: "Carpenter", serif;
  font-size: 20vw;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding: 0 2em 0 4em;
  position: fixed;
  width: 100%;
  z-index: 1000;
}