@font-face {
    font-display: swap;
    font-family: 'Neue World Condensed';
    src: url('./assets/NeueWorldCondensed-regular.woff2') format('woff2'),
         url('./assets/NeueWorldCondensed-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #90836a;
    color: #000;
    height: 600vh;
}

.topbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
  }
  
  .topbar a {
    color: inherit;
    display: block;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.375px;
    text-decoration: none;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  
  .topbar a:hover {
    color: #018274;
  }
  
  .topbar__avatar {
    border-radius: 50%;
    height: 45px;
    overflow: hidden;
    position: relative;
    width: 45px;
  }
  
  .topbar__avatar img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  @media (min-width: 1024px) {
    .topbar {
        padding: 12px 28px;
    }
  
    .topbar a {
        font-size: 18px;
        letter-spacing: -0.45px;
    }
  
    .topbar__avatar {
        height: 54px;
        width: 54px;
    }
  }

.header {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 60vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    font-family: "Neue World Condensed";
    font-size: 8vw;
    font-weight: lighter;
    text-align: center;
}

.slider-section {
    bottom: 0;
    height: 22vh;
    position: fixed;
    width: 100%;
}

.wheel {
    align-items: center;
    display: flex;
    height: 300vw;
    justify-content: center;
    left: 50%;
    max-height: 2000px;
    max-width: 2000px;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 300vw;
}

.wheel__card {
    aspect-ratio: 2 / 3;
    cursor: pointer;
    left: 0;
    max-width: 200px;
    position: absolute;
    top: 0;
    width: 10%;
}

.wheel__card img {
    cursor: pointer;
    display: block;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    width: 100%;
    z-index: 999;
}

.scroll-down-icon {
    position: fixed;
    right: 2em;
    top: 9em;
    transform: rotate(-90deg);
}

.scroll-down-icon svg {
    stroke: #000;
    width: 50px;
}

.scroll-down {
    color: #000;
    font-family: "Neue World Condensed";
    font-size: 20px;
    font-weight: lighter;
    left: 2em;
    overflow: visible;
    position: fixed;
    text-transform: uppercase;
    top: 7em;
}