@font-face {
  font-display: swap;
  font-family: "GT America Extended";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/GTAmericaExtended-Medium.woff2") format("woff2"),
    url("../fonts/GTAmericaExtended-Medium.woff") format("woff");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: swap;
  font-family: "Roslindale Deck Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RoslindaleDeckNarrow-Regular.woff2") format("woff2"),
    url("../fonts/RoslindaleDeckNarrow-Regular.woff") format("woff");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: swap;
  font-family: "Roslindale Display Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RoslindaleDisplayCondensed-Light.woff2") format("woff2"),
    url("../fonts/RoslindaleDisplayCondensed-Light.woff") format("woff");
  text-rendering: optimizeLegibility;
}
